<div id="publications-container">
  <ul>
    {% assign reversed_publications = site.publications | reverse %}
    {% for post in reversed_publications limit:3 %}
      {% include archive-single-cv.html %}
    {% endfor %}
  </ul>
  
  <div id="more-publications" style="display: none;">
    <ul>
      {% for post in reversed_publications offset:3 %}
        {% include archive-single-cv.html %}
      {% endfor %}
    </ul>
  </div>

  <button id="toggle-publications" onclick="togglePublications()">Show More</button>
</div>

<script>
  function togglePublications() {
    var morePublications = document.getElementById("more-publications");
    var button = document.getElementById("toggle-publications");
    
    if (morePublications.style.display === "none") {
      morePublications.style.display = "block";
      button.innerText = "Show Less";
    } else {
      morePublications.style.display = "none";
      button.innerText = "Show More";
    }
  }
</script>

<style>
  #toggle-publications {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

  #toggle-publications:hover {
    background-color: #0056b3;
  }

/*   #publications-container {
    max-width: 600px;
    margin: auto;
    padding-left: 0; /* Remove any default padding */
  } */
  #publications-container {
    width: 100%; /* Ensure it takes up the full width of the parent */
    max-width: 100%; /* Prevents it from exceeding the parent width */
    margin: 0 auto; /* Center the container horizontally if it's smaller than the parent */
    padding-left: 0; /* Remove any default padding */
    box-sizing: border-box; /* Ensures padding and borders are included in the width */
}
</style>
